# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# front-end
/web/node_modules
/web/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
