<h2>Stwórz nowy produkt</h2>

<form 
  novalidate 
  (ngSubmit)="onSubmit(product)" 
  [formGroup]="product"
  class="form-group"
>

  <label class="center-block">
    <span>Nazwa:</span>
    <input 
      type="text"
      formControlName="name"
      class="form-control"
    >
  </label>

  <label class="center-block">
    <span>Kod kreskowy:</span>
    <input 
      type="text"
      formControlName="ean"
      class="form-control"
    >
  </label>

  <label class="center-block">
    <span>Producent:</span>
    <input 
      type="text"
      formControlName="manufacturer"
      class="form-control"
    >
  </label>

  <label class="center-block">
    <span>Wartość energetyczna [kcal]:</span>
    <input 
      type="text"
      formControlName="energy"
      class="form-control"
    >
  </label>

  <label class="center-block">
    <span>Waga netto:</span>
    <input 
      type="text"
      formControlName="netWeight"
      class="form-control"
    >
  </label>

  <label class="center-block">
    <span>Jednostka miary:</span>
    <select 
      formControlName="unitOfMeasure"
      class="form-control" 
    >
      <option [value]="">-- nie wybrano --</option>
      <option [value]="'gram'">Gram</option>
      <option [value]="'liter'">Litr</option>
      <option [value]="'piece'">Sztuka</option>
    </select>
  </label>

  <button type="submit"
    [disabled]="product.invalid"
    class="btn btn-primary"
  >
    Stwórz
  </button>

</form>
